*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #333333;
}

::selection {
  color: #333333;
  background-color: #FFCC00;
}

img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a, button {
  transition: all 0.2s ease;
  cursor: pointer;
}

.container {
  width: min(90%, 1170px);
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 52px;
  position: relative;
}
header .h1 {
  border-bottom: 1px linear-gradient #FFCC00;
  text-transform: uppercase;
}
header .h1 p {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #898F8F;
  margin-bottom: 15px;
}
header .h1 h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3.75rem;
  line-height: 4.125rem;
  font-weight: 900;
  color: #FFCC00;
  margin-bottom: 40px;
}
header .h1 .separator {
  width: min(100%, 450px);
  height: 1px;
  background-color: #FFCC00;
  position: relative;
  margin: 0 auto;
}
header .h1 .separator .icon-wrap {
  background-color: #fff;
  position: absolute;
  top: -7px;
  left: 210px;
  padding: 0 5px;
  display: inline-block;
}

.page-wrapper {
  margin: 120px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left {
  padding: 65px 85px;
  border-right: 1px solid #FFCC00;
}

.image-wrap {
  padding: 15px;
  position: relative;
}
.image-wrap::before, .image-wrap::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  border-top: 1px solid #FFCC00;
}
.image-wrap::before {
  left: 0;
  border-left: 1px solid #FFCC00;
}
.image-wrap::after {
  right: 0;
  border-right: 1px solid #FFCC00;
}

.image-wrap2::before, .image-wrap2::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid #FFCC00;
}
.image-wrap2::before {
  left: 0;
  border-left: 1px solid #FFCC00;
}
.image-wrap2::after {
  right: 0;
  border-right: 1px solid #FFCC00;
}

.right {
  padding: 70px 80px;
  text-align: center;
}
.right h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.25rem;
  line-height: 2.625rem;
  font-weight: 900;
  color: #666666;
  margin-bottom: 25px;
}
.right .line {
  width: 100px;
  height: 1px;
  background-color: #FFCC00;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.right .h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.right .soc-icons {
  margin-bottom: 49px;
}
.right .soc-icons ul {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.right .link-container {
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: relative;
}
.right .link-container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.right p {
  margin-bottom: 20px;
}
.right .dash-line {
  width: 50px;
  height: 4px;
  background: linear-gradient(to right, #FFCC00 0%, #FFCC00 20%, #fff 20%, #fff 30%, #FFCC00 30%, #FFCC00 70%, #fff 70%, #fff 80%, #FFCC00 80%, #FFCC00 100%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.right .btn {
  width: 118px;
  height: 24px;
  padding: 5px 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 0.875rem;
  text-transform: uppercase;
  color: #666666;
  text-align: center;
  border: 1px solid #FFCC00;
  background-color: #fff;
}
.right .btn:hover {
  scale: 1.05;
  background-color: #e1e4e4;
}