* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

ul {
    list-style: none;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    font-weight: 500;
    text-align: center;
    color: #070707;
}
.container {
    width: min(90%, 970px);
    margin-inline: auto;
}
h1 {
    font-size: 3rem;
    line-height: 3.5625rem;
}
h3 {
    font-size: 2.121rem;
    line-height: 2.5625rem;
}
/*===header===*/
#header .container {
    height: 80px;
    border-bottom: 1px solid #828282;
}
ul.main-menu {
    font-size: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
ul li a {
    font-size: 1.125rem;
    font-weight: 700;
    text-decoration: none;
    color: #828282;
}
ul li a:hover {
    color: #070707;
}
/*===#header===*/

/*===denis-novik===*/
#denis-novik {
    margin-top: 40px;
}
.hamb-wrap {
    display: none;
}
.mob-photo {
    display: none;
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
    text-align: left;
}
ul.lang {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    position: relative;
    bottom: 25px;
    transform: rotate(-90deg);
}
ul.lang li+li::before  {
    content: '|\00a0';
    color: #828282;
}
ul.lang li a {
    font-size: 1rem;
    font-weight: 700;
}
.denis-photo img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*===#denis-novik===*/

/*===about-me===*/
.denis-descr {
    padding: 94px 0 100px;
    background-color: #F6F6F6;
}
.denis-descr-header {
    margin-bottom: 45px;
}
.denis-descr-text {
    margin-bottom: 30px;
}
/*===#about-me===*/

/*===skills===*/

.denis-skills {
    padding: 100px 0;
}
.denis-skills-text {
    margin: 15px 0 48px;
}
.skill {
    display: flex;
    justify-content: space-between;
    
}
.skill-container {
    display: inline-block;
    width: 25%;
}
.denis-skills-apps {
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    color: #828282;
    margin: 20px 0 60px;
}
.denis-skills-apps-figma {
    font-size: 14px;
    font-weight: 700;
    color: #828282;
    line-height: 38px;
    margin: 20px 0 60px;
} 
/*===#skills===*/

/*===portfolio===*/
.denis-portfolio {
    padding: 92px 0 30px;
    background-color: #F6F6F6;
}
.denis-portfolio-header {
    margin-bottom: 45px;
}
.denis-portfolio-photo {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 34px;
}
.denis-portfolio-text {
    margin-bottom: 70px;
}

    
/*===#portfolio===*/

/*===footer===*/
footer {
    margin: 99px 0;
}
.denis-contacts-text {
    margin: 15px 0 57px;
}
button {
    padding: 0px 16px;
    height: 44px;
    background: #070707;
    border-radius: 22px;
    color: #FFFFFF;
    font-family: 'Open sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-align: center;
    cursor: pointer;
}
.socials img {
    margin: 0 2px ;
    cursor: pointer;
}
.socials {
    margin: 29px 0 47px;
}
.socials ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.socials-text {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #828282;
}
/*===#footer===*/
#mobile-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F6F6F6;
    transform: translateX(-100%);
    transition: all .2s ease;
    z-index: 2;
    padding: 60px 25px;
}
#mobile-sidebar.open {
    transform: translateX(0);
}
#mobile-sidebar nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.mob-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 68px;
    
}
.mob-menu li a {
    font-size: 2.125rem;
    line-height: 2.625rem;
    font-weight: 700;
}
ul.lang-mob li a {
    font-size: 2.125rem;
    line-height: 2.625rem;
    font-weight: 700;

}
ul.lang-mob {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    position: absolute;
    right: 0;
    bottom: 150px;
    transform: rotate(90deg);
}
ul.lang-mob li+li::before  {
    content: '|\00a0';
    font-size: 2.125rem;;
    color: #828282;
}
@media screen and (max-width: 750px) {
    .skill {
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }
    .skill-container {
        width: 40%;
    }
}
@media screen and (max-width: 500px) {
    #header {
        display: none;
    }
    .hamb-wrap {
        display: block;
    }
    .info .lang {
        display: none;
    }
    .info {
        flex-direction: column;
        align-items: flex-start;
        gap: 23px;
    }
    #denis-novik {
        margin-top: 65px;
    }
    .denis-photo .container .info-wrap {
         display: flex;
         justify-content: space-between;
    }

    .skill-container {
        width: 80%;
    }
    h1 {
        line-height: 2.6rem;
    }
    .main-photo {
        display: none;
    }
    .mob-photo {
        display: block;
    }
}